<template name="home">
    <style>
        .jumbotron {
            background-color: #f4511e;
            color: #ffffff;
        }
    </style>

    <br><br><br><br><br><br>
    <footer class="container-fluid text-center">
        <div class="jumbotron text-center">
            <h1>MoCi</h1><br>
            <form class="form-inline">
                <input type="text" class="form-control" size="70" placeholder="어떤 해시 태그가 있을까요?">
                <button type="button" class="btn btn-danger">Serch</button>
            </form>
        </div>
    </footer>
    <br><br><br>
</template>